*.in
*.la
*.lo
*.log
*.o
*.pc
*.swp
*.trs
*~
INSTALL
Makefile
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/workshop/workshop.pdf
doxyfile
doxyfile.stamp
doxymain.h
html/
install-sh
libtool
ltmain.sh
missing
nodejs/.deps/
nodejs/.libs/
nodejs/build/
plugins/.deps/
plugins/.libs/
plugins/avcodecs/.deps/
plugins/avcodecs/.libs/
plugins/example/.deps/
plugins/example/.libs/
plugins/example/check_example_plugin
plugins/gsoap/.deps
plugins/gsoap/.libs
plugins/gsoap/check_gsoap_control
plugins/gsoap/webservices
plugins/gtk/.deps/
plugins/gtk/.libs/
plugins/gtk/check_gtk_video
plugins/osc/.deps/
plugins/osc/.libs/
plugins/osc/check_osc
plugins/portmidi/.deps/
plugins/portmidi/.libs/
plugins/portmidi/check_midi_plugins
plugins/pulse/.deps/
plugins/pulse/.libs/
plugins/pulse/check_pulsesrc
plugins/v4l2/.deps/
plugins/v4l2/.libs/
src/.deps/
src/.libs/
src/switcher
stamp-h1
switcher-ctrl
switcher/.deps/
switcher/.libs/
switcher/Makefile
switcher/classes.cxx
test-driver
tests/.deps/
tests/.libs/
tests/check_description_by_class
tests/check_fakesink
tests/check_information_tree
tests/check_property_mapper
tests/check_property_subscriber
tests/check_quiddity_create_remove
tests/check_quiddity_create_remove_with_auto_pipeline
tests/check_rtp_session
tests/check_signal_subscriber
tests/check_startable
xcode/switcher.xcodeproj/project.xcworkspace/xcuserdata
xcode/switcher.xcodeproj/xcuserdata
