*.gz
*.la
*.lo
*.o
*.old
*.pc
*.swp
*/.deps/
*/.libs/
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxyfile
doxyfile.stamp
doxymain.h
examples/.deps/
examples/.libs/
examples/clutter_reader
examples/data_reader
examples/data_reader_from_rtp
examples/data_reader_to_rtp
examples/data_writer
examples/data_writer_from_rtp
examples/osg_reader
examples/pcd_reader
examples/pcd_writer
examples/video_reader
examples/video_writer
html/
install-sh
libtool
ltmain.sh
missing
stamp-h1
tests/check_write_read
