[submodule "plugins/syphonsrc/Syphon-framework"]
	path = plugins/syphonsrc/Syphon-framework
	url = https://github.com/Syphon/Syphon-Framework.git
[submodule "plugins/vrpn/vrpn-lib"]
	path = plugins/vrpn/vrpn-lib
	url = https://github.com/vrpn/vrpn.git
	ignore = untracked
