{
    "bundle" : {
	"source-bundle" : {
	    "pipeline" : "videotestsrc name=source _shmw _add_to_start ! videoconvert name=converter _shmw _no_prop  & .source ! videnc name=encoder _codec=8 _shmw",
            "doc" : {
		"long_name" : "My Source Bundle",
		"category" : "video",
		"tags" : "writer",
		"description" : "Encoded video signal for testing purpose"
	    }
	},
	"sink-bundle" : {
            "pipeline" : " decoder name=dec _shmr ! timelapse name=timelapse",
            "doc" : {
		"long_name" : "My video preview",
		"category" : "video",
		"tags" : "reader",
		"description" : "Decode and display video"
	    }
	},
	"bundle_with-underscore" : {
            "pipeline" : " decoder name=dec _shmr ! timelapse name=timelapse",
            "doc" : {
		"long_name" : "Bundle with underscore",
		"category" : "video",
		"tags" : "reader",
		"description" : "Decode and display video"
	    }
	},
	"bundle-with-underscore-in-quiddity-name" : {
            "pipeline" : " decoder name=dec_oder _shmr ! timelapse name=timelapse",
            "doc" : {
		"long_name" : "My video preview",
		"category" : "video",
		"tags" : "reader",
		"description" : "Decode and display video"
	    }
	},
	"bundle-with-no-name-in-placeholder" : {
            "pipeline" : " . ! gtkwin",
            "doc" : {
		"long_name" : "sadds ",
		"category" : "gtrsf",
		"tags" : "dsfcs",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-with-two-identical-names" : {
            "pipeline" : " videotestsrc name=video ! timelapse name=video",
            "doc" : {
		"long_name" : "cddcsdc",
		"category" : "cdsrbgt",
		"tags" : "jufhbf",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-wrong-placeholder-connections" : {
            "pipeline" : " videotestsrc name=src ! .sink & .src ! timelapse name=sink & .src ! .sink",
            "doc" : {
		"long_name" : "sadds ",
		"category" : "gtrsf",
		"tags" : "dsfcs",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-with-invalid-placeholder" : {
            "pipeline" : " .sdsd ! timelapse",
            "doc" : {
		"long_name" : "sadds ",
		"category" : "gtrsf",
		"tags" : "dsfcs",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-with-two-shmr" : {
            "pipeline" : " videotestsrc name=v ! timelapse _shmr name=t1  & .v ! timelapse name=t2 _shmr",
            "doc" : {
		"long_name" : "sadds ",
		"category" : "gtrsf",
		"tags" : "dsfcs",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-with-wrong-quiddity-type" : {
            "pipeline" : " videotestsrccc ! timelapse",
            "doc" : {
		"long_name" : "sadds ",
		"category" : "gtrsf",
		"tags" : "dsfcs",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-with-wrong-parameter-syntax" : {
            "pipeline" : " videotestsrc name== ! timelapse",
            "doc" : {
		"long_name" : "sadds ",
		"category" : "gtrsf",
		"tags" : "dsfcs",
		"description" : "adsf fdfr rf"
	    }
	},
	"bundle-with-missing-fields" : {
            "doc" : {
		"long_name" : "My Source Bundle",
		"description" : "Encoded video signal for testing purpose"
	    }
	},
	"filter-bundle" : {
	    "pipeline" : " videoconvert name = src _shmr _shmw & .src ! timelapse name=timelapse",
            "doc" : {
		"long_name" : "My video encoder with preview",
		"category" : "video",
		"tags" : "writer/reader",
		"description" : "Display and encode video"
	    }
	}
    }
}