{
    "bundle" : {
		"source-bundle" : {
			"pipeline" : "videotestsrc name=source <shmw <add_to_start ! videoconvert name=converter <shmw <no_prop  & .source ! videnc name=encoder _codec=8 <shmw",
				"doc" : {
			"long_name" : "My Source Bundle",
			"description" : "Encoded video signal"
			}
		},
		"sink-bundle" : {
				"pipeline" : " decoder name=dec <shmr ! timelapse name=timelapse",
				"doc" : {
			"long_name" : "My video preview",
			"description" : "Decode and display video"
			}
		},
		"vid-source-bundle" : {
			"pipeline" : "videotestsrc name=source <shmw <add_to_start ! videnc name=encoder <shmw",
				"doc" : {
			"long_name" : "My Source Bundle",
			"description" : "Video signal"
			}
		},
		"dummy-sink-bundle" : {
				"pipeline" : " dummysink name=dummy <shmr",
				"doc" : {
			"long_name" : "My dummysink",
			"description" : "Monitor input data"
			}
		},
		"bundle_with-underscore" : {
				"pipeline" : " decoder name=dec <shmr ! timelapse name=timelapse",
				"doc" : {
			"long_name" : "Bundle with underscore",
			"description" : "Decode and display video"
			}
		},
		"bundle-with-underscore-in-quiddity-name" : {
				"pipeline" : " decoder name=dec_oder <shmr ! timelapse name=timelapse",
				"doc" : {
			"long_name" : "My video preview",
			"description" : "Decode and display video"
			}
		},
		"bundle-with-no-name-in-placeholder" : {
				"pipeline" : " . ! glfwin",
				"doc" : {
			"long_name" : "sadds ",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-with-two-identical-names" : {
				"pipeline" : " videotestsrc name=video ! timelapse name=video",
				"doc" : {
			"long_name" : "cddcsdc",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-wrong-placeholder-connections" : {
				"pipeline" : " videotestsrc name=src ! .sink & .src ! timelapse name=sink & .src ! .sink",
				"doc" : {
			"long_name" : "sadds ",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-with-invalid-placeholder" : {
				"pipeline" : " .sdsd ! timelapse",
				"doc" : {
			"long_name" : "sadds ",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-with-two-shmr" : {
				"pipeline" : " videotestsrc name=v ! timelapse <shmr name=t1  & .v ! timelapse name=t2 <shmr",
				"doc" : {
			"long_name" : "sadds ",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-with-wrong-quiddity-type" : {
				"pipeline" : " videotestsrccc ! timelapse",
				"doc" : {
			"long_name" : "sadds ",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-with-wrong-parameter-syntax" : {
				"pipeline" : " videotestsrc name== ! timelapse",
				"doc" : {
			"long_name" : "sadds ",
			"description" : "adsf fdfr rf"
			}
		},
		"bundle-with-missing-fields" : {
				"doc" : {
			"long_name" : "My Source Bundle",
			"description" : "Encoded video signal for testing purpose"
			}
		},
		"filter-bundle" : {
			"pipeline" : " videoconvert name = src <shmr <shmw & .src ! timelapse name=timelapse",
				"doc" : {
			"long_name" : "My video encoder with preview",
			"description" : "Display and encode video"
			}
		},
		"whitespaces-bundle" : {
			"pipeline" : "executor name=test <shmr command_line=echo\\ allo",
			"doc" : {
			"long_name" : "Bundle with whitespaces",
			"description" : "Escape whitespaces prefixed with two backslashes"
			}
		}
    }
}
