{
    "bundle" : {
	"source-bundle" : {
            "pipeline" : "videotestsrc name=source ! _shmwriter_ ! videoconvert ! nvenc ! _shmwriter_ & .source ! gtkwin name=preview",
            "doc" : {
		"long_name" : "My Source Bundle",
		"category" : "video",
		"tags" : "writer",
		"description" : "Encoded video signal for testing purpose"
	    }
	},
	"sink-bundle" : {
	    "pipeline" : " _shmreader_ ! decoder name=dec ! gtkwin",
            "doc" : {
		"long_name" : "My video preview",
		"category" : "video",
		"tags" : "reader",
		"description" : "Decode and display video"
	    }
	},
	"bundle-with-missing-fields" : {
            "doc" : {
		"long_name" : "My Source Bundle",
		"description" : "Encoded video signal for testing purpose"
	    }
	},
	"filter-bundle" : {
	    "pipeline" : " _shmreader_ name=src ! videoconvert ! nvenc name=enc ! _shmwriter_ & .src ! gtkwin",
            "doc" : {
		"long_name" : "My video encoder with preview",
		"category" : "video",
		"tags" : "reader",
		"description" : "Display and encode video"
	    }
	}
    }
}