Source: switcher
Section: libs
Priority: optional
Maintainer: Emmanuel Durand <edurand@sat.qc.ca>
Build-Depends:
 cmake,
 debhelper (>=11~),
 git,
 pkg-config,
 libshmdata-dev,
 gsoap,
 gstreamer1.0-tools,
 libcgsi-gsoap-dev,
 libcurl4-gnutls-dev,
 libgstreamer-plugins-bad1.0-dev,
 libgstreamer-plugins-base1.0-dev,
 libgstreamer1.0-dev,
 libjack-jackd2-dev,
 libjson-glib-dev,
 liblo-dev,
 libltc-dev,
 libportmidi-dev,
 libpulse-dev,
 libsamplerate0-dev,
 libsoup2.4-dev,
 libssl-dev,
 libvncserver-dev,
 libxcursor-dev,
 libxi-dev,
 libxinerama-dev,
 libxrandr-dev,
 libxxf86vm-dev,
 nvidia-cuda-dev,
 nvidia-kernel-source-460,
 libnvidia-encode-460,
 python3-dev,
 python3-pip,
 swh-plugins,
 uuid-dev
Standards-Version: 4.1.4
Homepage: https://gitlab.com/sat-metalab/switcher

Package: switcher
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Low latency streaming and integration environment
 Switcher is an integration environment, able to interoperate with other
 software and protocols. Switcher provides low latency streaming of multichannel
 audio, video and data through IP networks.
 Switcher provides managing of several instances of services (called
 Quiddities). A Quiddity can be created and removed dynamically and can be
 controlled through property get/set as well as method invocations and
 information tree monitoring. Switcher provides introspection mechanisms to
 help write higher level software written in python3 or C++. Switcher can save
 and load the state of quiddities. 
 Most Quiddities expose and/or consume live streams of data frames using the
 shmdata, a library for sharing data streams among processes with zero copy
 through POSIX shared memory. Note shmdata has GStreamer elements.
 .
 This package contains the binary shared libraries.

Package: switcher-plugins-nvidia
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: switcher (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Low latency streaming and integration environment
 Switcher is an integration environment, able to interoperate with other
 software and protocols. Switcher provides low latency streaming of multichannel
 audio, video and data through IP networks.
 Switcher provides managing of several instances of services (called
 Quiddities). A Quiddity can be created and removed dynamically and can be
 controlled through property get/set as well as method invocations and
 information tree monitoring. Switcher provides introspection mechanisms to
 help write higher level software written in python3 or C++. Switcher can save
 and load the state of quiddities. 
 Most Quiddities expose and/or consume live streams of data frames using the
 shmdata, a library for sharing data streams among processes with zero copy
 through POSIX shared memory. Note shmdata has GStreamer elements.
 .
 This package contains plugins depending on Nvidia hardware.

Package: python3-switcher
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: switcher (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Low latency streaming and integration environment
 Switcher is an integration environment, able to interoperate with other
 software and protocols. Switcher provides low latency streaming of multichannel
 audio, video and data through IP networks.
 Switcher provides managing of several instances of services (called
 Quiddities). A Quiddity can be created and removed dynamically and can be
 controlled through property get/set as well as method invocations and
 information tree monitoring. Switcher provides introspection mechanisms to
 help write higher level software written in python3 or C++. Switcher can save
 and load the state of quiddities. 
 Most Quiddities expose and/or consume live streams of data frames using the
 shmdata, a library for sharing data streams among processes with zero copy
 through POSIX shared memory. Note shmdata has GStreamer elements.
 .
 This package contains the Python3 module.

Package: switcher-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: switcher (= ${binary:Version}), ${misc:Depends}
Description: Low latency streaming and integration environment
 Switcher is an integration environment, able to interoperate with other
 software and protocols. Switcher provides low latency streaming of multichannel
 audio, video and data through IP networks.
 Switcher provides managing of several instances of services (called
 Quiddities). A Quiddity can be created and removed dynamically and can be
 controlled through property get/set as well as method invocations and
 information tree monitoring. Switcher provides introspection mechanisms to
 help write higher level software written in python3 or C++. Switcher can save
 and load the state of quiddities. 
 Most Quiddities expose and/or consume live streams of data frames using the
 shmdata, a library for sharing data streams among processes with zero copy
 through POSIX shared memory. Note shmdata has GStreamer elements.
 .
 This package contains the development files.

Package: switcher-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Low latency streaming and integration environment
 Switcher is an integration environment, able to interoperate with other
 software and protocols. Switcher provides low latency streaming of multichannel
 audio, video and data through IP networks.
 Switcher provides managing of several instances of services (called
 Quiddities). A Quiddity can be created and removed dynamically and can be
 controlled through property get/set as well as method invocations and
 information tree monitoring. Switcher provides introspection mechanisms to
 help write higher level software written in python3 or C++. Switcher can save
 and load the state of quiddities. 
 Most Quiddities expose and/or consume live streams of data frames using the
 shmdata, a library for sharing data streams among processes with zero copy
 through POSIX shared memory. Note shmdata has GStreamer elements.
 .
 This package contains the documentation files.
